<nz-content>
    <h1>Recent surveys</h1>
    <nz-table #borderedTable nzBordered nzSize="small" [nzData]="surveys">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of borderedTable.data">
                <td>{{ data.name }}</td>
                <td>{{data.description}}</td>
            </tr>
        </tbody>
    </nz-table>
    <a routerLink="/create" nz-button nzType="primary" nzSize="large" nzShape="circle" class="create-btn">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
    </a>
</nz-content>