:host {
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.header {
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.075));
  margin-bottom: 15px;
}

.logo {
  color: #1890ff;
  font-weight: bold;
  font-style: italic;
  font-size: medium;
}
